@import url(https://fonts.adobe.com/fonts/work-sans);

.hero {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  position: static 100%;
  display: flex;
  flex-direction: column;
  background-color: #f6f4f3 !important;
  font-family: work-sans !important;
  font-weight: 100;
  margin-top: 0.3%;
}
.card {
  max-width: 80%;
  width: 55%;
  margin-top: 5%;
  text-align: center;
  align-self: center;
}

label.radio {
  display: block;
  text-align: left;
  padding: 15px;
  margin-bottom: 5px;
  font-size: 20px;
  background-color: #39af8a11 !important;
}

label.radio + .radio {
  margin-left: 0;
}

label.radio input {
  margin-right: 10px;
}
button {
  background-color: #1b5543 !important;
  color: #eee !important;
}

progress {
  margin-top: 3.5%;
}
